.shuffle_button{
    font-family: 'Nunito Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-weight: 700;
    border: 0;
    border-radius: 50%;
    cursor: pointer;
    display: inline-block;
    color: white;
    min-width: 40px;
    min-height: 40px;
    text-align: center;
    padding: 0px;
    background: white;
  }  
    .svg_shuffle {
      display: flex;
      align-items: center;
      width: 15px;
      color: black;
      fill: currentColor;
      stroke: currentColor;
      stroke-width: 0;
      vertical-align: top;
      margin: 0 auto;
      color:black;
    }
    
    .svg_shuffle_active {
      color:#ef5466;
      display: flex;
      align-items: center;
      width: 15px;
      height: 15px;
      fill: currentColor;
      stroke: currentColor;
      stroke-width: 0;
      vertical-align: top;
      margin: 0 auto;
    }
  .shuffle_button:hover{
      background:#d1d1d6;
  }