.progress_bar {
    max-width: 720px;
    margin: 0 auto;
    text-align: center;
    height: 50px;
    box-sizing: border-box;

    .current_Time {
        position: absolute;
        left: 70px;
        top: 5px;
        color: #92929d;
        font-size: 10px;
    }

    .total_Time {
        position: absolute;
        right: 70px;
        top: 5px;
        color: #92929d;
        font-size: 10px;
    }
}
.audio_source{
    display:none;
}
.bar {
    user-select: none;
    width: 420px;
    display: flex;
    align-items: center;

    .bar__time {
        color: grey;
        font-size: 16px;
    }

    .bar__progress {
        flex: 1;
        border-radius: 5px;
        margin: 0 20px;
        height: 10px;
        display: flex;
        align-items: center;
        cursor: pointer;

        .bar__progress__knob {
            position: relative;
            height: 16px;
            width: 16px;
            border: 1px solid grey;
            border-radius: 50%;
            background-color: white;
        }
    }
}

.song_text {
    display: flex;
    justify-content: flex-start;
    margin-left: 50px;
}

.song_group {
    font-family: Deezer, Arial, sans-serif;
    font-weight: 400;
    margin-right: 5px;
}

.song_name {
    font-weight: 400;
    font-family: Open Sans, Arial, sans-serif;
    margin-left: 5px;
}

.progress_line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.progress_bar_box{
    margin-left:30px;
}