.progress_bar {
    max-width: 720px;
    margin: 0 auto;
    text-align: center;
    height: 50px;
    box-sizing: border-box;

    .slider_track_input {
        width: 500px;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    .current_Time {
        position: absolute;
        left: 70px;
        top: 5px;
        color: #92929d;
        font-size: 10px;
    }

    .total_Time {
        position: absolute;
        right: 70px;
        top: 5px;
        color: #92929d;
        font-size: 10px;
    }
}

.bar_wrapper {
    padding-top: 10px;
    position: relative;
}

.song_text {
    display: flex;
    justify-content: flex-start;
    margin-left: 112px;
}

.song_group {
    font-family: Deezer, Arial, sans-serif;
    font-weight: 400;
    margin-right: 5px;
}

.song_name {
    font-weight: 400;
    font-family: Open Sans, Arial, sans-serif;
    margin-left: 5px;
}

.progress_line {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}






input[type=range] {
    width: 100%;
    margin: 4.85px 0;
    background-color: transparent;
    -webkit-appearance: none;
}

input[type=range]:focus {
    outline: none;
}

input[type=range]::-webkit-slider-runnable-track {
    background: #9b929d;
    border: 0.2px solid #010101;
    border-radius: 1.3px;
    width: 100%;
    height: 4.3px;
    cursor: pointer;
}

input[type=range]::-webkit-slider-thumb {
    margin-top: -5.05px;
    width: 14px;
    height: 14px;
    background: #ffffff;
    border: 1px solid #92929d;
    border-radius: 22px;
    cursor: pointer;
    -webkit-appearance: none;
}

input[type=range]:focus::-webkit-slider-runnable-track {
    background: #a79fa9;
}

input[type=range]::-moz-range-track {
    background: #9b929d;
    border: 0.2px solid #010101;
    border-radius: 1.3px;
    width: 100%;
    height: 4.3px;
    cursor: pointer;
}

input[type=range]::-moz-range-thumb {
    width: 14px;
    height: 14px;
    background: #ffffff;
    border: 1px solid #92929d;
    border-radius: 22px;
    cursor: pointer;
}

input[type=range]::-ms-track {
    background: transparent;
    border-color: transparent;
    border-width: 5.85px 0;
    color: transparent;
    width: 100%;
    height: 4.3px;
    cursor: pointer;
}

input[type=range]::-ms-fill-lower {
    background: #8f8591;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
}

input[type=range]::-ms-fill-upper {
    background: #9b929d;
    border: 0.2px solid #010101;
    border-radius: 2.6px;
}

input[type=range]::-ms-thumb {
    width: 14px;
    height: 14px;
    background: #ffffff;
    border: 1px solid #92929d;
    border-radius: 22px;
    cursor: pointer;
    margin-top: 0px;
}

input[type=range]:focus::-ms-fill-lower {
    background: #9b929d;
}

input[type=range]:focus::-ms-fill-upper {
    background: #a79fa9;
}

@supports (-ms-ime-align:auto) {
    input[type=range] {
        margin: 0;
    }
}